
/** CSS document
    author: @GenesisDaniela
    Version: 1
*/
 body{
    font-family: unset;
    font-size: 20px;
    color: #736865;
    margin: 0;
 }

h1,h2,h3 {
    font-family: unset;
    color: #ffffff;
    background: #736865;
    padding: 1px 20px;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 1010px;
}

footer{
    background: #736865;
    color: #ffffff;
    font-style: italic;
    font-size: 18px;
    font-family: unset;
    padding-top: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 0;
}

footer a{
    text-decoration: none;
    color:#ffffff;
}

header{
    background: #423F40;
    color: #ffffff;
    font-family: unset;
    font-size: 18px;
    padding: 1px;
}

header h4{
    margin-top: 20px;
    margin-right: 255px;
    font-size: 14px;
    font-family: unset;
    text-align: right;
    color: #CCCCCC;
}

.header-bottom{
    background: #423F40;
    height: 80px;
}

section{
    margin-bottom: 40px;
    height: 700px;
}

article{
    color: #736865;
    background: #ffffff;
    margin-top: 40px;
    margin-left: 60px;
}

.div-left{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 500px;
    margin-top: 10px;
    float: left;
    margin-left: 40px;
    box-shadow: 0 1px 1px 2px #736865;
}

.div-summary{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 900px;
    margin-top: 50px;
    margin-left: 180px;
    margin-bottom: 10px;
    float: left;
    box-shadow: 0 1px 1px 2px #736865;
}

table{
    width: 70%;
    background: #736865;
    color: #ffffff;
    overflow: hidden;
    border-collapse: collapse;
    font-size: 20px;
    font-family: unset;
    text-align: justify;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    margin:80px 160px;
    border: 2px solid #423F40;
}

table th{
    background:#736865;
    color: #ffffff;
    text-align:center;
    padding:10px 10px;
    height:20px;
    border: 2px solid #423F40;
}

table tr:nth-child(even){/* css3 */
    background: #ffffff;
    color: #736865;
    border: 2px solid #736865
}

table tr:nth-child(odd){/* css3 */
    background: #ffffff;
    border: 2px solid #736865;
    color: #736865;
}

table tr:hover{
    background: #423F40;
    color: #ffffff;
    border: 2px solid #736865
}

pre{
    font: unset;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    color: #423F40;
    margin-top: 50px;
}
form{
    float:right;
    margin-right: 20px;
    margin-top: -20px;
}

#line{
    background: #423F40;
    height: 10px;
    padding: 0;
}

#square{
    float: left;
    background: #736865;
    width: 8px;
    height: 29px;
    margin-left: 18px;
}

.image-perfil{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 300px;
    margin-top: 10px;
    float: right;
    margin-right: 200px;
    box-shadow: 0 1px 1px 2px #736865;
}
.image-perfil img{
    margin-top: 20px;
    margin-left: 30px;
    width: 80%;
    height: 90%;
    box-shadow: 1px 1px 1px #736865;
}

.image-summary{
    width: 180px;
    height: 230px;
    margin: -225px 0 0 590px;
    box-shadow: 1px 1px 1px #736865;
}

.image-header{
    width: 80px;
    height: 80px;
    float: right;
    margin:5px 162px 0 0;
    box-shadow: 1px 0.5px 1px #000;
    -webkit-border-radius:6px; -moz-border-radius:6px;border-radius:6px;
}

.image-icon-fb{
    float: left;
    margin: 360px 0 0 -365px;
}

.image-icon-ins{
    margin: 360px 0 0 -275px;
}

.image-icon-twt{
    margin: 360px 0 0 -190px;
}
.image-logo-sistemas{
    width: 270px;
    height: 80px;
    margin: -31px 30px 10px 20px;
}