@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Modificado por : Madarme y Génesis Vargas
 */

#menu{
	width: 1040px ;
	height:20px;
	margin: 0 auto;
}
#menu a{
	text-align:center;
	font-family: unset;
	font-size: 24px;
	color:#FFF;
	background-color:#736865;
	text-decoration:none;
	display: inline-block;
	padding: 20px 100px 15px 80px;
}

#menu a:hover{
	background-color: #7e7474;
}

/*----------------------------------*/

#menu ul{
	width:100%;
	padding: 0;
	margin: 0 auto;
}
#menu ul li{
	list-style-type:none;
	float:left;
}
#menu ul li:hover ul{
	display:block;
}
#menu ul li ul{
	position: absolute;
	display: none;
}
#menu ul li ul a{
	width:206px;
	padding:0 10px;
	margin: 0 auto;
	height: 40px;
}

#menu ul li ul li{
	float: none;
}